@use '../variables.scss' as *;

button, .btn {
  background-color: $primary;
  color: $white;
  border: none;
  outline: none;

  padding: 10px;

  &.btn-warning {
    background-color: $warning;
  }

  &.btn-danger {
    background-color: $danger;
  }
}