@use '../variables.scss' as *;

table {
    border-collapse: collapse;
    background-color: $white;

    margin: 2rem 0;

    thead {
        background-color: $primary;
        color: $white;

        tr {
            border-right: 5px solid $primary;
            border-left: 5px solid $primary;
            background-color: inherit;

            th {
                padding: .5rem;
                background-color: inherit;
                border-bottom: 1px solid $white;

                font-weight: normal;
                white-space: nowrap;
            }
        }
    }

    tbody {
        tr {
            border-right: 5px solid $white;
            border-left: 5px solid $white;

            &:nth-child(even) {
                border-color: darken($white, 10);
                
                td, th {
                    background-color: darken($white, 10);
                }
            }

            &:hover {
                border-right: 5px solid $primary;
                border-left: 5px solid $primary;
            }

            td {
                padding: .5rem;

                &.number {
                    text-align: right;
                }

                &.action {
                    white-space: nowrap;
                }

                &:not(:last-of-type) {
                    border-right: 1px solid #888888;
                }
            }
        }
    }
}
