@use 'variables.scss' as *;
@use 'reset/reset.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Everythig exception Symfony Debug Toolbar */
*:not([class^='sf-']) {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body > .container {
    padding: 2rem;
}