<form action="{{ path('app_musicgroup_delete', {id: music_group.id}) }}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ music_group.id) }}">
    <button type="submit" class="btn btn-danger">Supprimer</button>
</form>
