{{ form_start(form) }}

<table>
    <tr>
        <th>
            <div>{{ form_label(form.name) }}</div>
            <div>{{ form_errors(form.name) }}</div>
        </th>
        <td>
            {{ form_widget(form.name) }}
        </td>
    </tr>

    <tr>
        <th>
            <div>{{ form_label(form.origin) }}</div>
            <div>{{ form_errors(form.origin) }}</div>
        </th>
        <td>
            {{ form_widget(form.origin) }}
        </td>
    </tr>

    <tr>
        <th>
            <div>{{ form_label(form.city) }}</div>
            <div>{{ form_errors(form.city) }}</div>
        </th>
        <td>
            {{ form_widget(form.city) }}
        </td>
    </tr>

    <tr>
        <th>
            <div>{{ form_label(form.startedAt) }}</div>
            <div>{{ form_errors(form.startedAt) }}</div>
        </th>
        <td>
            {{ form_widget(form.startedAt) }}
        </td>
    </tr>

    <tr>
        <th>
            <div>{{ form_label(form.endedAt) }}</div>
            <div>{{ form_errors(form.endedAt) }}</div>
        </th>
        <td>
            {{ form_widget(form.endedAt) }}
        </td>
    </tr>

    <tr>
        <th>
            <div>{{ form_label(form.founders) }}</div>
            <div>{{ form_errors(form.founders) }}</div>
        </th>
        <td>
            {{ form_widget(form.founders) }}
        </td>
    </tr>

    <tr>
        <th>
            <div>{{ form_label(form.nbMembers) }}</div>
            <div>{{ form_errors(form.nbMembers) }}</div>
        </th>
        <td>
            {{ form_widget(form.nbMembers) }}
        </td>
    </tr>

    <tr>
        <th>
            <div>{{ form_label(form.musicType) }}</div>
            <div>{{ form_errors(form.musicType) }}</div>
        </th>
        <td>
            {{ form_widget(form.musicType) }}
        </td>
    </tr>

    <tr>
        <th>
            <div>{{ form_label(form.description) }}</div>
            <div>{{ form_errors(form.description) }}</div>
        </th>
        <td>
            {{ form_widget(form.description) }}
        </td>
    </tr>
</table>

<button type="submit">Enregistrer</button>

{{ form_end(form) }}