<div id="importFileForm">
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn" type="submit">Envoyer</button>

    <a class="btn btn-warning" target="_blank" href="{{ path('app_musicgroup_downloadsamplefiletoimport') }}">Télécharger un fichier exemple</a>

    {{ form_end(form) }}
</div>