{% extends "base.html.twig" %}

{% block title %}Modification {{ music_group.name }}{% endblock %}

{% block body %}
    <h1>Modification du groupe de musique : {{ music_group.name }}</h1>
    <a class="btn" href="{{ path('app_musicgroup_list') }}">Retour</a>
    {% include 'music_groups/_form.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('music_group_edit') }}
{% endblock %}

{% block javascripts %}
{% endblock %}
