{% extends "base.html.twig" %}

{% block title %}Liste des groupes{% endblock %}

{% block body %}
    <h1>Liste des groupes de musique</h1>
    <hr>
    {% include 'music_groups/_import_file_form.html.twig' with {form: form} %}
    <hr>
    <a class="btn" href="{{ path('app_musicgroup_add') }}">Ajouter</a>
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Nom du groupe</th>
                <th>Origine</th>
                <th>Ville</th>
                <th>Année début</th>
                <th>Année séparation</th>
                <th>Fondateurs</th>
                <th>Membres</th>
                <th>Courant musical</th>
                <th>Présentation</th>
            </tr>
        </thead>
        <tbody>
            {% for music_group in list %}
            <tr>
                <td class="action">
                    <div>
                        <a class="btn" href="{{ path('app_musicgroup_view', {id: music_group.id}) }}">Afficher</a>
                        <a class="btn btn-warning" href="{{ path('app_musicgroup_edit', {id:music_group.id}) }}">Modifier</a>
                        {% include 'music_groups/_delete_form.html.twig' with {music_group: music_group} %}
                    </div>
                    </td>
                <td>{{ music_group.name }}</td>
                <td>{{ music_group.origin }}</td>
                <td>{{ music_group.city }}</td>
                <td class="number">{{ music_group.startedAt | date('Y') }}</td>
                <td class="number">{{ music_group.endedAt | date('Y') }}</td>
                <td>{{ music_group.founders }}</td>
                <td class="number">{{ music_group.nbMembers }}</td>
                <td>{{ music_group.musicType }}</td>
                <td>{{ music_group.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('music_group_list') }}
{% endblock %}

{% block javascripts %}
{% endblock %}
