{% extends "base.html.twig" %}

{% block title %}Vsualisation {{ music_group.name }}{% endblock %}

{% block body %}
    <h1>Vsualisation du groupe de musique : {{ music_group.name }}</h1>
    <a class="btn" href="{{ path('app_musicgroup_list') }}">Retour</a>
    <table>
        <tr>
            <th>Nom du groupe</th>
            <td>{{ music_group.name }}</td>
        </tr>
        <tr>
            <th>Origine</th>
            <td>{{ music_group.origin }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ music_group.city }}</td>
        </tr>
        <tr>
            <th>Année début</th>
            <td>{{ music_group.startedAt | date('Y') }}</td>
        </tr>
        <tr>
            <th>Année séparation</th>
            <td>{{ music_group.endedAt | date('Y') }}</td>
        </tr>
        <tr>
            <th>Fondateurs</th>
            <td>{{ music_group.founders }}</td>
        </tr>
        <tr>
            <th>Membres</th>
            <td>{{ music_group.nbMembers }}</td>
        </tr>
        <tr>
            <th>Courant musical</th>
            <td>{{ music_group.musicType }}</td>
        </tr>
        <tr>
            <th>Présentation</th>
            <td>{{ music_group.description }}</td>
        </tr>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('music_group_view') }}
{% endblock %}

{% block javascripts %}
{% endblock %}
