@use '../master.scss' as *;

td.action > div {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;
  width: 100%;

  * {
    margin: 3px;
    font-size: 1rem;
  }

  form {
    padding: 0;
    margin: 0;
  }
}

#importFileForm form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button, a {
    margin-left: 10px;
  }
}